.box {
    margin-bottom: 20px;
}

.text {
    margin-bottom: 12px; 
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
}

.input {
    border-radius: 5px;
    padding: 7px;
    border: 2px solid #080858;
}